{{define "content"}}
  <div class="about">
    <h2>About Canary Haiku</h2>

    <p>
      We are a Swedish family, living in Tenerife on The Canary Islands. Moving to another country of course always brings a few surprises and eye openers and these are occasionally turned in to small verses.
    </p>

    <p>We hope you enjoy them!</p>

    <h2>What is Haiku?</h2>
    <p>
      Haiku is a Japanese verse form, which is very distinct. It's short - normally three lines. Sometimes you see haiku poetry limited to two lines or even just one. More than tree is unisual.
      </p>

      <p>
        Haiku poems often include a surprise. In the the first two lines a situation or object is described and in the the last line the focus is chnaged completely. It's up to the reader to figure out what's going on and what the connection might be. In a way a Haiku is a riddle.
      </p>

      <p>
        Haiku poems can seem a bit sterile when you read them, but that is intentional. The poet's job is to observe the surroundings without judging or trying to convince the reader.
      </p>

{{end}}
